:root {
    --bg-color: #f8f8f8;
    --secondary-color: #ffffff;
    --dark-color: #333333;
    --main-color: #e5e5e5;
    --logo-color: #ababab;
    --btn-color: #8ea7ff;
    --btn-color-hover: #7291ff;

    --container-desktop: 1440px;
    --container-tablet: 834px;
    --container-phone: 560px;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --font-size-xxl: 32px;
    --font-size-xl: 24px;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 10px;

    --font-main: 'Roboto', sans-serif;
}
